<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title>TXPhin Volunteer Management System</title>
  
  <%= stylesheet_link_tag 'resources/css/ext-all', 'redesign/master', 'vms/vms' %>

  <% unless @ssite.blank? %>
    <%= javascript_include_tag 'ext/adapter/ext/ext-base', 'ext/ext-all-debug', 'vms/kiosk/kiosk_check_in', 'ext_extensions/validations' %>
    <script type="text/javascript">
    Ext.BLANK_IMAGE_URL = '/assets/s.gif';
    var TARGET_DIV_ID = 'checkin-ext-wrapper';
    var SCENARIO_SITE_ID = <%= @ssite.id %>;
    Ext.onReady(function(){ Talho.VMS.kiosk.init() } );
    </script>
  <% end %>

</head>
<body>
  <div style="text-align: right;">
    <%= link_to s('Back to Phin'), sign_in_path %>
  </div>
  <div class="flash">
    <%- [:notice, :instructions, :completed, :error].each do |type| -%>
      <%- if flash[type] -%>
        <p class="<%= type %>"><%= flash[type] %></p><br/>
      <%- end -%>
    <%- end -%>
  </div>

  <%= yield %>

</body>
</html>
